.container {
  width: 70%;
  margin: auto;
}

div {
  line-height: 2em;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 1.10em;
}
h1 {
  font-family: 'Zen Kurenaido', sans-serif;
  font-style: italic;
  width: 50%;
  margin-top: 20%;
  margin-left: 25%;
  margin-right: 25%;
}
h3 {
  font-weight: bold;
}

p {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 1.12em;
  margin-left: 3%;
  font-style: italic;
  width: 70%;
}

.intro {
  width: 50%;
  width: 70%;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;

}
